html,
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    /* width: 90%; */
    height: 110vh;
    /* background-color: #1A1A1D; */
    color: #fff;
    background: #360033;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0b8793, #360033);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0b8793, #360033);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

* {
    box-sizing: border-box;
}



.logo {
    /* transform: translate(50px, 10px); */
    /* height: 0; */
    margin-bottom: -80px;
    margin-left: 130px;
    cursor: pointer;
}

.my-signature {
    /* margin-left: 200px; */
    margin-top: 0px;
    width: 50%;
    height: 50%;
}

.logo img {
    margin-top: 1px;
    width: 400px;
    height: 100px;
}

.joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 95.50vh;
    width: 100vw;
    align-items: center;
    margin-bottom: -89px;
}

.joinInnerContainer {
    width: 30%;
    margin-right: 150px;
}

.joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
    outline-style: none;
}

.joinInput:focus {
    border: 3px solid chartreuse;
}

.heading-1,
.heading-2 {
    font-family: cursive;
}

.heading-1 {
    color: darkgray;
    width: 100vh;
    font-size: 2.5em;
    padding-bottom: 10px;
    margin-right: 100px;
    cursor: pointer;
}

.heading-1 span {
    border-bottom: 3px solid chartreuse;
}

.heading-1 span:hover {
    background-color: cyan;
    border-color: darkgray;
}


.heading-2 {
    color: darkgray;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid chartreuse;
    cursor: pointer;
}

.heading-1:hover,
.heading-2:hover {
    color: chartreuse;
    border-color: darkgray;
}

.button {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: dimgray;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
    outline-style: none;
    cursor: pointer;
    font-weight: 600;
}

.button:hover {
    background: yellowgreen;
    color: black;
}

button:focus {
    outline: 0;
}

.mt-20 {
    margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
        /* height: 100vh; */
        zoom: 98%;
        font-size: 12px;
        margin-top: 30px;
        margin-left: 15px;
    }

    .joinInnerContainer {
        margin-right: 0px;
        width: 100vw;
    }

    .my-signature {
        /* margin-left: 30px; */
        /* margin-bottom: -110px; */
        width: 100%;
        height: 20%;
    }

    .logo img {
        margin-top: 1px;
        /* width: 400px; */
        /* height: 130px; */
        margin-bottom: -50px;
        margin-left: -150px;
    }
    .heading-1 {
        margin-right: 20px;
    }

}

@media (min-width: 480px) and (max-width: 600px) {

    body {
        height: 140vh;
        zoom: 10%;
    }
    
}

@media (min-width: 600px) and (max-width: 779px) {

    body {
        height: 105%;
        zoom: 80%;
    }

    .joinOuterContainer {
        height: 150vh;
        zoom: 90%;
        margin-left: 202px;
    }

    .my-signature {
        /* margin-left: 30px; */
        /* margin-bottom: -110px; */
        width: 100%;
        height: 20%;
    }
}

@media (min-width: 779px) and (max-width: 980px) {
    body {
        height: 110%;
    }
}
/* 
@media (min-width: 980px) and (max-width: 1200px) {
    body {
        height: 100;
    }
} */

/* ********************************************************************************** */

/* Bounce To Right */
.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2bc578;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
    color: white;
}

.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* ********************************************************************************** */