html,
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    width: 95%;
    background-color: #1A1A1D;
    color: #fff;
}

* {
    box-sizing: border-box;
}

.logo {
    transform: translate(50px, 10px);
    height: 0;
}

.logo img {
    margin-top: 20px;
    width: 100px;
    height: 100px;
}

.joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 93.9vh;
    width: 100vw;
    align-items: center;
}

.joinInnerContainer {
    width: 30%;
    margin-right: 150px;
}

.joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
    outline-style: none;
}

.joinInput:focus {
    border: 3px solid chartreuse;
}

.heading-1,
.heading-2 {
    font-family: cursive;
}

.heading-1 {
    color: darkgray;
    width: 100vh;
    font-size: 2.5em;
    padding-bottom: 10px;
    margin-right: 100px;
    cursor: pointer;
}


.heading-2 {
    color: darkgray;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid chartreuse;
    cursor: pointer;
}

.heading-1:hover,
.heading-2:hover {
    color: chartreuse;
    border-color: darkgray;
}

.button {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: dimgray;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
    outline-style: none;
    cursor: pointer;
    font-weight: 600;
}

.button:hover {
    background: yellowgreen;
    color: black;
}

.mt-20 {
    margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
        height: 100%;
    }

    .joinInnerContainer {
        width: 90%;
    }


}

button:focus {
    outline: 0;
}