.infoBar {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    margin-top: -10px;
    border-radius: 4px 4px 0 0;
    height: 175px;
    width: 100%;
    border: 1px #8a2be2 solid;
    background: #360033;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0b8793, #360033);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0b8793, #360033);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.leftInnerContainer {
    display: flex;
    justify-content: center;
    margin: 0;
    color: white;
    font-size: small;
    cursor: pointer;
}

.iconsContainer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 27%;
    margin: 0;
    padding: 0;
    font-size: x-large;
    cursor: pointer;
}

.dotIcon {
    position: relative;
    top: 15px;
    right: 32px;
    z-index: 10;
    color: green;
    border-radius: 100%;
    background: #fff;
    padding: 0;
}

.personIcon {
    color: blueviolet;
    cursor: pointer;
}

.callIcon {
    color: blueviolet;
    margin-right: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.closeIcon {
    display: flex;
    justify-content: flex-end;
    /* position: absolute;
    left: 58%;
    top: 17%; */
    padding: 5px;
    margin-bottom: 0;
    color: rgb(82, 81, 81);
    font-size: 25px;
    cursor: pointer;
}