.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1A1A1D;
    flex-direction: column;
    flex-wrap: wrap;
}

.infoBarContainer {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    height: 80%;
    width: 35%;
    border: 1px blueviolet solid;
}

.onlineIcon {
    display: flex;
    position: fixed;
    z-index: 5;
    top: 122px;
    left: 462px;
    height: 30px;
    overflow: hidden;

}

.dotIcon-1 {
    color: green;
    border-radius: 100%;
    background: #fff;
    height: 15px;
    width: 16px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
        height: 100%;
        margin-left: 25px;
    }

    .container {
        width: 80vw;
        height: 80vh;
    }

    .avatarContainer {
        right: 70px;
        width: 20%;
    }

    .onlineIcon {
        top: 91px;
        left: 80px;
    }
}


@media (min-width: 480px) and (max-width: 600px) {

    .avatarContainer {
        right: 50px;
        width: 10%;
    }

    .onlineIcon {
        top: 120px;
        left: 202px;
    }
}

@media (min-width: 600px) and (max-width: 779px) {

    .container {
        width: 60%;
    }

    .avatarContainer {
        right: 150px;
        width: 10%;
    }

    .onlineIcon {
        top: 122px;
        left: 192px;
    }
}

@media (min-width: 779px) and (max-width: 980px) {
    .container {
        width: 60%;
    }

    .avatarContainer {
        right: 150px;
        width: 70px;
    }

    .onlineIcon {
        top: 122px;
        left: 200px;
    }
}

@media (min-width: 980px) and (max-width: 1200px) {
    .container {
        width: 60%;
    }

    .avatarContainer {
        right: 240px;
        width: 70px;
    }

    .onlineIcon {
        top: 122px;
        left: 230px;
    }
}